body{
    background: #f6f5f4;
}

.form{
    width: 500px;
    background: white;
    /*左右をautoにすることで左右中央寄せにする*/
    margin: 100px auto;
    padding: 50px;
}

.form-input{
    height: 60px;
    background: #f6f5f4;
    border: none;
    /*
    要素の縦横幅指定にborderとpaddingを含める
    width100% + paddingの左右10pxが飛び出ているので
    width100%の中にpadding左右10pxにしてあげる
    */
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;

}

.form-submit{
    background: black;
    border: none;
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 18px;
}

.form-submit:hover{
    cursor: pointer;
    background: #333;
}

.form-submit:disabled{
    cursor: not-allowed;
    background: #8d8d8d;
}
